<div class="col">
  <%= render @team %>

  <div>
    <%= link_to "Edit this team", edit_team_path(@team.code) %> |
    <%= link_to "Back to teams", teams_path %>

    <%= button_to "Destroy this team", @team, method: :delete %>
  </div>
</div>